## Elon Musk's Topic Prediction Using LDA
#### Kenechi Franklin Dukor

In [10]:
import os
import pandas as pd
import numpy as np

In [11]:
tweets = pd.read_csv('dataset/data_elonmusk.csv', encoding='latin1')
tweets.head()

,row ID,Tweet,Time,Retweet from,User
0,Row0,@MeltingIce Assuming max acceleration of 2 to ...,29/09/2017 17:39,NaN,elonmusk
1,Row1,RT @SpaceX: BFR is capable of transporting sat...,29/09/2017 10:44,SpaceX,elonmusk
2,Row2,@bigajm Yup :),29/09/2017 10:39,NaN,elonmusk
3,Row3,Part 2 https://t.co/8Fvu57muhM,29/09/2017 09:56,NaN,elonmusk
4,Row4,Fly to most places on Earth in under 30 mins a...,29/09/2017 09:19,NaN,elonmusk

In [12]:
tweets = tweets.assign(Time=pd.to_datetime(tweets.Time)).drop('row ID', axis='columns')
tweets.head()

,Tweet,Time,Retweet from,User
0,@MeltingIce Assuming max acceleration of 2 to ...,2017-09-29 17:39:00,NaN,elonmusk
1,RT @SpaceX: BFR is capable of transporting sat...,2017-09-29 10:44:00,SpaceX,elonmusk
2,@bigajm Yup :),2017-09-29 10:39:00,NaN,elonmusk
3,Part 2 https://t.co/8Fvu57muhM,2017-09-29 09:56:00,NaN,elonmusk
4,Fly to most places on Earth in under 30 mins a...,2017-09-29 09:19:00,NaN,elonmusk